/* ######### Drop Down DIVs CSS ######### */


.ddsubmenustyle, .ddsubmenustyle div{ /*topmost and sub DIVs, respectively*/
font: normal 11px Verdana; 
margin: 0;
padding:0; float:left;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
background:#f4f4f4;
border: 1px solid white;
border-bottom-width: 0;
height:0x;
z-index: 100;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-xhtml-border-radius:8px;
border-radius:8px; 

}
.ddsubmenustyle p{width:100%; float:left; color:#000000;}
.ddsubmenustyle ul{
margin: 0; width:276px;
padding: 10px;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
border: 0px none; 
}
.ddsubmenustyle li { line-height:21px;
display: block;
float:left;
 /*width of menu (not including side paddings)*/
color: black;
background-color:#f4f4f4;
text-decoration: none;
padding: 3px 5px;

}
.ddsubmenustyle li a{
display: block;
 /*width of menu (not including side paddings)*/
color:#0F5D9D;
background-color:#f4f4f4;
text-decoration: none;
padding: 3px 5px;

}

* html .ddsubmenustyle li{ /*IE6 CSS hack*/
display: inline-block;
/*width of menu (include side paddings of LI A*/
}

.ddsubmenustyle li a:hover{
color:#666;
}

.ddiframeshim{
position: absolute;
z-index: 500;
background: transparent;
border-width: 0;
width: 0;
height: 0;
display: block;
}